@{
    ViewData["Title"] = "Warframe";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Warframe</title>
</head>

<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <p class="title">
        @ViewData["Warframe Name"]
    </p> 
    <table>
        <tr>
            <td class="title">
                Rank
            </td>
            <td class="title">
                Capacity
            </td>
            <td class="title">
                Health
            </td>
            <td class="title">
                Shield
            </td>
            <td class="title">
                Power
            </td>
        </tr>
        @foreach (var frame in ViewData["Frame"] as List<Warframe.Models.Warframe>)
        {
            <tr>
                <td class="prop">
                    @frame.GetRank()
                </td>
                <td class="prop">
                    @frame.GetCapacity()
                </td>
                <td class="prop">
                    @frame.GetHealth()
                </td>
                <td class="prop">
                    @frame.GetShield()
                </td>
                <td class="prop">
                    @frame.GetPower()
                </td>
            </tr>

        }
    </table>  
    
</body>
</html>