@{
    ViewData["Title"] = "Warframe";
}

<html>
<head>
    <meta charset="utf-8" />
    <title>Abilitys</title>
</head>
<body>
    <link rel="stylesheet" href="~/StyleSheet.css" />
    <h1>
        @ViewData["Warframe Name"]
    </h1> 
    <table>
        <tr class="prop">
            <td>
                Rank
            </td>
            <td>
                Capacity
            </td>
            <td>
                Health
            </td>
            <td>
                Shield
            </td>
            <td>
                Power
            </td>
        </tr>
        @foreach (var frame in ViewData["Frame"] as List<Warframe.Models.Warframe>)
        {
            <tr>
                <td>
                    @frame.GetRank()
                </td>
                <td>
                    @frame.GetCapacity()
                </td>
                <td>
                    @frame.GetHealth()
                </td>
                <td>
                    @frame.GetShield()
                </td>
                <td>
                    @frame.GetPower()
                </td>
            </tr>

        }
    </table>  
    
</body>
</html>